
@{
    ViewBag.Title = "AboutClubCard";
}

<h2>About ClubCard</h2>
<style>
    h2 {
        font-family: 'Times New Roman';
        font-size: x-large;
        font-style: italic;
        color: darkblue;
    }
</style>

<table>
    <tr>
        <td><div><img src="~/Card.jpg" /></div></td>
        <td><div><img src="~/clubcard.jpg" /></div></td>
        <td><div><img src="~/fuel.jpg" /></div></td>
    </tr>
</table>


<h2>
    It’s our way of giving you something back for doing your shopping with us.
    <br />
    <br />
    Tesco Clubcard is the loyalty card of leading British supermarket chain Tesco.

    The Clubcard scheme operates in the United Kingdom, Ireland, Czech Republic, Hungary, Poland and several other countries, and in the UK market in particular has been highly successful, with over 15 million members as of 2010.

    just swap your card,and take the benefits of it,by adding points in it.
    Once you have joined you can create your 'My Clubcard Account' to manage your Clubcard online.


    This will enable you to:

    Check your points balance.
    Print your vouchers and coupons.
    Update your personal details & preferences.
    Check how your fuel savings are adding up.
</h2>

