@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<style>


    h2{
        font-family:'Times New Roman';
        font-size:x-large;
        font-style:italic;
        color:darkblue;
    }
</style>

<table>
    <tr>
        <td><div><img src="~/download.jpg" /></div></td>
        <td><div><img src="~/images (2).jpg"/></div></td>
        <td><div><img src="~/images (3).jpg"/></div></td>
    </tr>
</table>
    

<h2>
    Tesco PLC is a British multinational grocery and general merchandise retailer headquartered in Cheshunt, Hertfordshire, England, United Kingdom. It is the third largest retailer in the world measured by profits
     and second-largest retailer in the world measured by revenues. It has stores in 12 countries across Asia and Europe and is the grocery market leader in the UK (where it has a market share of around 30%), 
    the Republic of Ireland, Hungary, Malaysia, and Thailand..
    <br />
    <br/>
    Tesco was founded in 1919 by Jack Cohen as a group of market stalls.
     The Tesco name first appeared in 1924, after Cohen purchased a shipment of tea from T. E. Stockwell and combined those initials with the first two letters of his surname,
     and the first Tesco store opened in 1929 in Burnt Oak, Barnet. His business expanded rapidly, and by 1939 he had over 100 Tesco stores across the country.
    <br/>
    <br/>
    Originally a UK-focused grocery retailer, since the early 1990s Tesco has increasingly diversified geographically and into areas such as the retailing of b
    ooks, clothing, electronics, furniture, toys, petrol and software; financial services; telecoms and internet services. The 1990s saw Tesco reposition itself, from its perception as a downmarket "pile 'em high, sell 'em cheap" retailer, to one which appeals across a wide social group, from its Tesco Value (launched 1993[9]) to its Tesco Finest ranges. This was successful, and saw the chain grow from 500 stores in the mid-1990s to 2,500 stores fifteen years later.[12]

    Tesco is listed on the London Stock Exchange and is a constituent of the FTSE 100 Index. It had a market capitalisation of approximately £20.5 billion as of 4 August 2014, the 28th-largest of any company with a primary listing on the London Stock Exchange.
    </>
</h2>
