@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<table>
    <tr>
<td><h3>
    Tesco <br />
    Hackney, London,England 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +44 20 7377 5623
</h3>
       
<h3>
    Tesco HSC<br />
    EPIP AREA,WHITEFEILD,560-100<br />
    <abbr title="Phone">P:</abbr>
    +44 20 657 757
</h3>


<h3>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</h3></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <td><img src="~/images (1).jpg" /></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <td><img src="~/images (5).jpg"/></td>
</tr>


</table>